header.header 
    .d-flex.align-items-center
        .logos
            .logos-item
                a.logo(href="#")
                    img.logo-img(src="images/logo-shivaki.svg", alt="shivaki")
                button.btn-arrow(type="button")
                    img.btn-arrow_img(src="images/arrow-up.svg", alt="arrow")
            ul.logos-dropdown
                li.logos-dropdown_item.hide(data-color="red")
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="images/logo-shivaki.svg", alt="shivaki")
                li.logos-dropdown_item(data-color="orange")
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="images/logo-broun.svg", alt="broun")
                li.logos-dropdown_item(data-color="purple")
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="images/logo-kenwood.svg", alt="kenwood")
                li.logos-dropdown_item(data-color="blue")
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="images/logo-suzuki.svg", alt="suzuki")
        nav.nav 
            ul.menu
                li.menu-item
                    a.menu-link(href="#") Информация
                li.menu-item
                    a.menu-link(href="#") Поиск
    .d-flex.align-items-center
        button.btn-notification(type="button")
            img.btn-notification_icon(src="images/notification.svg", alt="icon notification") 
            span.btn-notification_point
        a.sign-in(href="#") Аккаунт
            .sign-in_icon
                img(src="images/account-24px.svg", alt="icon sign-in")
        
        