header.header 
    .d-flex.align-items-center
        .logos
            .logos-item
                a.logo(href="#")
                    img.logo-img(src="images/logo-shivaki.svg", alt="shivaki")
                button.btn-arrow(type="button")
                    +icon("arrow-up","btn-arrow_img")
            ul.logos-dropdown
                li.logos-dropdown_item.hide(data-color="red")
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="images/logo-shivaki.svg", alt="shivaki")
                li.logos-dropdown_item(data-color="orange")
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="images/logo-broun.svg", alt="broun")
                li.logos-dropdown_item(data-color="purple")
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="images/logo-kenwood.svg", alt="kenwood")
                li.logos-dropdown_item(data-color="blue")
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="images/logo-suzuki.svg", alt="suzuki")
        nav.nav 
            ul.menu
                li.menu-item
                    a.menu-link(href="#") Информация
                li.menu-item
                    a.menu-link(href="#") Поиск
    .d-flex.align-items-center
        .header__notification
            button.btn-notification(type="button")
                +icon("notification","btn-notification_icon")
                span.btn-notification_point
            .notification-popup
                p.fs-16.c-gray.fw-bold Оповещения 
                .notification-overlay
                    ul.notification-list 
                        li.bg-gray_2
                            a(href="#")
                                span.fs-12.fw-semi Поздравляем! Ваш продукт был успешно добавлен. Теперь вы можете отслеживать статус на странице профиля
                                span.fs-12.fw-semi.c-gray Сег	
                        li 
                            a(href="#")
                                span.fs-12.fw-semi Обновление карты гарантийных сервисов. Теперь вы сможете увидеть больше точек обращения
                                span.fs-12.fw-semi.c-gray 3 д	
                        li 
                            a(href="#")
                                span.fs-12.fw-semi Ваш запрос через контактную форму был отправлен. В скором времени мы свяжемся с вами
                                span.fs-12.fw-semi.c-gray 4 д
                        li 
                            a(href="#")
                                span.fs-12.fw-semi Обновление карты гарантийных сервисов. Теперь вы сможете увидеть больше точек обращения
                                span.fs-12.fw-semi.c-gray 3 д	
                        li 
                            a(href="#")
                                span.fs-12.fw-semi Ваш запрос через контактную форму был отправлен. В скором времени мы свяжемся с вами
                                span.fs-12.fw-semi.c-gray 4 д
                        li 
                            a(href="#")
                                span.fs-12.fw-semi Обновление карты гарантийных сервисов. Теперь вы сможете увидеть больше точек обращения
                                span.fs-12.fw-semi.c-gray 3 д	
                        li 
                            a(href="#")
                                span.fs-12.fw-semi Ваш запрос через контактную форму был отправлен. В скором времени мы свяжемся с вами
                                span.fs-12.fw-semi.c-gray 4 д
                button.btn-red.btn-more(type="button") Посмотреть все
                
        a.sign-in(href="#") Аккаунт
            .sign-in_icon
                +icon("account-24px")
        
        