header.header 
    .d-flex.align-items-center
        .logos
            .logos-item
                a.logo(href="#")
                    img.logo-img(src="static/images/logo-shivaki.svg", alt="shivaki")
                button.btn-arrow(type="button")
                    img.btn-arrow_img(src="static/images/arrow-up.svg", alt="arrow")
            ul.logos-dropdown
                li.logos-dropdown_item.hide
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="static/images/logo-shivaki.svg", alt="shivaki")
                li.logos-dropdown_item
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="static/images/logo-broun.svg", alt="broun")
                li.logos-dropdown_item
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="static/images/logo-kenwood.svg", alt="kenwood")
                li.logos-dropdown_item
                    a.logos-dropdown_link(href="#")
                        img.logo-img(src="static/images/logo-suzuki.svg", alt="suzuki")
        nav.nav 
            ul.menu
                li.menu-item
                    a.menu-link(href="#") Информация
    a.sign-in(href="#") Войти
        .sign-in_icon
            img(src="static/images/account-24px.svg", alt="icon sign-in")
        
        