mixin icon(name,mod)
	if(mod)
		svg(class="svg-" + name + ' ' + mod)
			use(xlink:href="images/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-" + name)
			use(xlink:href="images/sprite/symbol/sprite.svg#" + name)

//- mixin breadcrumbs-item(text,href)
//- 	li.breadcrumbs__item
//- 		if(href)
//- 			a.breadcrumbs__link(href=href)=text
//- 		else
//- 			p.breadcrumbs__link=text

