include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=375,initial-scale=1")
		meta(name="keywords" content="")
		meta(name="description" content="описание, ключевые слова")
		link(rel="stylesheet" type='text/css' href="css/styles.css")
	body
		include ../modules/header/header
		.content
			block content
		include ../modules/footer/footer
		nav.bottombar
			ul.bottombar-menu
				li.bottombar-item#open_main.active
					.bottombar-box
						+icon("icon-main")
						span.bottombar-text Главная
				li.bottombar-item#open_menu
					.bottombar-box
						+icon("icon-burger")
						span.bottombar-text Меню
				li.bottombar-item#open_account
					.bottombar-box
						+icon("icon-account")
						span.bottombar-text Аккаунт
            
		nav.nav-mobile.nav-mobile_menu
			a.logo.selected-logo(href="#")
				img.logo-img(src="images/logo-shivaki.svg", alt="shivaki")
			p.fs-16.fw-bold.c-gray.mb-3.px-4 Меню
			ul.menu
				li
					form.menu-search 
						input.menu-search_input(type="text", placeholder="Поиск продукта", required) 
						button.btn-search(type="button")
							img.btn-search_icon(src="images/icon-magnifier.svg", alt="magnifier")
				li.menu-item
					.logos
						.logos-item
							p.fs-16.fw-semi Выбрать производителя
							button.btn-arrow(type="button")
								+icon("arrow-up","btn-arrow_img")
						ul.logos-dropdown
							li.logos-dropdown_item.hide(data-color="red")
								a.logos-dropdown_link(href="#")
									img.logo-img(src="images/logo-shivaki.svg", alt="shivaki")
							li.logos-dropdown_item(data-color="orange")
								a.logos-dropdown_link(href="#")
									img.logo-img(src="images/logo-broun.svg", alt="broun")
							li.logos-dropdown_item(data-color="purple")
								a.logos-dropdown_link(href="#")
									img.logo-img(src="images/logo-kenwood.svg", alt="kenwood")
							li.logos-dropdown_item(data-color="blue")
								a.logos-dropdown_link(href="#")
									img.logo-img(src="images/logo-suzuki.svg", alt="suzuki")
				li.menu-item
					a.menu-link(href="#") Информация
				li.menu-item
					a.menu-link(href="#") Контакт
				li.menu-item
					a.menu-link(href="#") Правила использования
				li.menu-item
					a.menu-link(href="#") Политика конфиденциальности

		nav.nav-mobile.nav-mobile_account
			a.logo.selected-logo(href="#")
				img.logo-img(src="images/logo-shivaki.svg", alt="shivaki")
			.flex-center-between.mb-3.px-4
				p.fs-16.fw-bold.c-gray Ваш аккаунт
				button.btn-notification(type="button")
					+icon("notification","btn-notification_icon")
					span.btn-notification_point
			ul.menu
				li.menu-item
					a.menu-link(href="http://m99935yr.beget.tech/egt/account-settings.html") Профиль
						+icon("icon-profile")
				li.menu-item
					a.menu-link(href="http://m99935yr.beget.tech/egt/account-map.html") Карта сервисов
						+icon("icon-map")
				li.menu-item
					a.menu-link(href="http://m99935yr.beget.tech/egt/mobile-settings.html") Настройки
						+icon("icon-settings")
				li.menu-item
					a.menu-link(href="#") Выйти
						+icon("icon-exit")
				
		script(src="js/jquery.min.js")
		script(src="https://code.jquery.com/jquery-migrate-1.4.1.min.js")
		script(src="js/main.js")
		script(src="js/inputmask.min.js")
		script(src="js/mask.js")
		block script
