include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=375,initial-scale=1")
		meta(name="keywords" content="")
		meta(name="description" content="описание, ключевые слова")
		link(rel="stylesheet" type='text/css' href="css/styles.css")
	body
		.content
			block content
		footer.footer.bg-none.d-lg-hide.footer__fixed 
			.container
				.d-flex
					p.fs-16.c-white © SHIVAKI 2020 
					a.fs-16.c-white(href="#") Политика конфиденциальности
					a.fs-16.c-white(href="#") Правила использования
					a.fs-16.c-white(href="#") Контакт
		.popup-error
			.popup-error__container
				.flex-center-between
					h2.fs-16.fw-bold Название pop-up
					button.close(type="button")

				p.fs-16.c-gray.mt-16 Контент всплывающего окна или элемент того для чего он появляется.


		script(src="js/jquery.min.js")
		script(src="js/inputmask.min.js")
		script(src="js/main.js")
		block script
