extends layout/main

block variables
	-var title = '404'

block content
	a.logo.logo-md-mobile(href="#")
		img.logo-img(src="images/logo-shivaki.svg", alt="logo")
	.back.d-md-show
		a.btn-back(href="#")
			+icon("arrow-back","btn-back__icon")
	section.section-error
		h1.fs-42.fw-bold Упс... Ваша страница 
			span.nowrap не найдена
		p.fs-16.c-black.d-md-hide Вернуться на 
			a.c-red.text-underline(href="#") главную страницу
		.section-error__img
	

