extends layout/main-account-settings

block variables
	-var title = 'Профиль'

block content
	.profile
		a.logo.logo-md-mobile(href="#")
			img.logo-img(src="images/logo-shivaki.svg", alt="logo")
		.d-flex.align-items-center.back.d-none-desktop 
			a.btn-back.btn-back__products(href="#")
				+icon("arrow-back","btn-back__icon")
			p.fs-16.c-gray.fw-bold Ваши продукты: 2
		.container
			nav 
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная /
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Аккаунт /
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Профиль
			.flex-between.d-md-hide
				ul.tabs
					li.tab-item.active
						+icon("profile", "tab-item__img")
						p.fs-14.fw-semi Профиль
					li.tab-item
						+icon("icon-map", "tab-item__img")
						p.fs-14.fw-semi Карта сервисов
					li.tab-item
						+icon("icon-settings", "tab-item__img")
						p.fs-14.fw-semi Настройки
					li.tab-item
						+icon("mail", "tab-item__img")
						p.fs-14.fw-semi Контакт
				a.logout(href="#")
					span.fs-14.fw-semi.c-gray Выйти
					+icon("icon-exit", "logout__icon")
			ul.drops
				li.drops__item.active
					.flex-between.flex-wrap
						.profile-left_v2 
							h4.fs-20.fw-semi.d-md-hide Ваши продукты: 
								span.count-product 2
							p.fs-16.c-gray.d-md-show Выберите продукт для дополнительных опции взаимодействия.
							ul.products 
								li.product-item(data-index="1")
									.product-item_row(data-index="1")
										img.result-img(src="images/img-result.jpg", alt="image result") 
										.result-info 
											p.fs-16.c-gray Смарт телевизор
											p.fs-26.fw-semi.c-dark SHIVAKI D24TV4K
											.result-info__row
												p.fs-20.fw-semi.c-gray C02VF0Y1HGE8
												.system-message.system__green.d-md-hide
													p.fs-12.fw-semi Гарантия до 24.07.2022
									.flex-center-between 
										button.btn-delete.d-md-hide(type="button")
											+icon("delete", "btn-delete__icon")
											span.fs-14.fw-semi Удалить
										.flex-wrap.align-items-center  
											button.btn-receipt(type="button")
												+icon("receipt", "btn-receipt__icon")
											button.btn-transfer.d-md-hide(type="button") 
												span.fs-14.fw-semi Передать продукт
												+icon("account-24px", "btn-transfer__icon")
											.system-message.system__green.d-md-show
												p.fs-12.fw-semi Гарантия до 24.07.2022
								li.product-item(data-index="2") 
									.product-item_row(data-index="2")
										img.result-img(src="images/product_2.jpg", alt="image result") 
										.result-info 
											p.fs-16.c-gray Холодильник
											p.fs-26.fw-semi.c-dark SHIVAKI B802-TY
											.result-info__row 
												p.fs-20.fw-semi.c-gray HTY354VC5551
												.system-message.system__red.d-md-hide
													p.fs-12.fw-semi Гарантия Истекла
									.flex-center-between 
										button.btn-delete.d-md-hide(type="button")
											+icon("delete", "btn-delete__icon")
											span.fs-14.fw-semi Удалить
										.flex-wrap.align-items-center  
											button.btn-receipt(type="button")
												+icon("receipt", "btn-receipt__icon")
											button.btn-transfer.d-md-hide(type="button") 
												span.fs-14.fw-semi Передать продукт
												+icon("account-24px", "btn-transfer__icon")
											.system-message.system__red.d-md-show
												p.fs-12.fw-semi Гарантия Истекла
						.profile-right_v2.d-md-hide 
							h4.fs-20.fw-semi Оповещения
								+icon("notification")
							ul.notification-list 
								li.bg-gray_2
									a(href="#")
										span.fs-16 Поздравляем! Ваш продукт был успешно добавлен. Теперь вы можете отслеживать статус на странице профиля
										span.fs-12.fw-semi.c-gray Сег	
								li 
									a(href="#")
										span.fs-16 Обновление карты гарантийных сервисов. Теперь вы сможете увидеть больше точек обращения
										span.fs-12.fw-semi.c-gray 3 д	
								li 
									a(href="#")
										span.fs-16 Ваш запрос через контактную форму был отправлен. В скором времени мы свяжемся с вами
										span.fs-12.fw-semi.c-gray 4 д	
								li 
									a(href="#")
										span.fs-16 Ваш аккаунт был успешно подтвержден. Теперь вам доступны все функции нашей платформы.
										span.fs-12.fw-semi.c-gray 4 д	
				li.drops__item
					.profile-left_v2 
						h4.fs-20.fw-semi.d-md-hide Карта сервисных центров
					#map
				li.drops__item
					ul.d-md-show.tabs-mob
						li.settings-tab.settings-tab_data Ваши данные
							img(src="images/icon_4.svg", alt="icon") 	
						li.settings-tab.settings-tab_share Рассылка
							img(src="images/icon_3.svg", alt="icon") 	
					.flex-between.flex-wrap
						.profile-left_v2.profile__data 
							h4.fs-20.fw-semi.d-md-hide Ваши данные
							form
								label.label
									input.input-form(type="email" placeholder="Ваш E-mail*" value="user@google.com" required)
									span.error-message error-message
								.flex-wrap 
									label.label.input-form_half
										input.input-form(type="text" placeholder="Имя*" name="name" value="Алексей" required)
										span.error-message error-message
									label.label.input-form_half
										input.input-form(type="text" placeholder="Фамилия*" name="name" value="Фамильный" required)
										span.error-message error-message
								.date
									label.label
										input.input-form.input-date(type="text" value="22.12.1995"  placeholder="Дата рождения*" required readonly)
										span.error-message error-message
									button.btn-date(type="button")
										+icon("calendar","btn-date_icon")
								label.label.mt-16
									select.select(data-placeholder="Город проживания*" required)
										option
										option(value="Город 1" selected) Москва
										option(value="Город 2") Город 2
										option(value="Город 3") Город 3
								input.input-form(type="text", placeholder="Номер телефона" name="phone" value="8-800-123-45-67")
								button.btn-red.btn-save-settings(type="submit") Сохранить изменения
						.profile-right_v2.profile__share
							h4.fs-20.fw-semi.d-md-hide Разрешение на рассылку
							.d-flex 
								label 
									input.checkbox(type="checkbox" )
									span.switch
								p.fs-16.c-gray.switch__text Morbi sodales aliquam dolor, vel iaculis nisl volutpat suscipit. Nam sit amet tortor ac lectus laoreet mattis sit amet in ipsum. Vestibulum mattis eget neque a molestie.
				li.drops__item
					.flex-between.flex-wrap.drops__item__request
						.request-left
							h4.fs-20.fw-semi.d-md-hide Отправить запрос
							.p.fs-16.c-gray Если вы столкнулись с определенными трудностями на платформе, пожалуйста выберите ниже тему обращения и опишите детально вашу проблему.
							
							.select
								.select__header
									.select__current 
										span Выберите тему 
											span.d-md-hide вашего обращения
										button.btn-arrow(type="button")
											+icon("arrow-up","btn-arrow_img")
								ul.select__body
									//- li.select__item(data-name-form="form-1") Проблема при регистрации продукта
									li.select__item(data-name-form="form-2") Неопознанный серийный номер
									li.select__item(data-name-form="form-3") Неопознанный QR code или чек
									li.select__item(data-name-form="form-4") Неопознанный сервис
									li.select__item(data-name-form="form-5") Запрос о гарантии
									li.select__item(data-name-form="form-5") Запрос о продукте
									li.select__item(data-name-form="form-5") Запрос о сервисе 
									li.select__item(data-name-form="form-5") Запрос о ремонте
							//- form.drop-form(data-name-form="form-1")
							//- 	textarea.textarea(name="" cols="30" rows="12" minlength="20" placeholder="Пожалуйста опишите детально ваш вопрос." required)
							//- 	label.btn-download(for="file-download") 
							//- 		input#file-download(type="file" name="files[]" multiple="" value="Загрузить файлы")
							//- 		span.fs-14.fw-semi Прикрепить файл
							//- 		img(src="images/attach_file.svg", alt="file download")
							//- 	p.fs-16.c-gray 
							//- 		|Нажимая «Отправить», Вы подтверждаете, что прочитали и согласны с 
							//- 		a.c-red(href="#") Правилами пользователя 
							//- 		|и 
							//- 		a.c-red(href="#") Политикой конфиденциальности.
							//- 	button.btn-red.btn__drop-form(type="submit") Отправить
							form.drop-form(data-name-form="form-2")
								label.label
									input.input-form(type="text" name="name" maxlength="32" placeholder="Имя*", required)
									span.error-message error-message
								label.label
									input.input-form(type="email" placeholder="Ваш E-mail*", required)
									span.error-message error-message
								label.label
									input.input-form(type="text" maxlength="12" placeholder="Ваш серийный номер*", required)
									span.error-message error-message
								label.label.mt-16
									select.select2(data-placeholder="Марка/Производитель" required)
										option
										option(value="Shivaki") Shivaki
										option(value="Suzuki") Suzuki
										option(value="Braun") Braun
										option(value="Icetron") Icetron
									span.error-message error-message
								label.label
									input.input-form(type="text" maxlength="12" placeholder="Модель*", required)
									span.error-message error-message
								label.label
									textarea.textarea(name="" cols="30" rows="12" minlength="20" placeholder="Пожалуйста опишите детально ваш вопрос.")
								.captcha.mt-24
									div(class="g-recaptcha" data-sitekey="WEBSITEKEYHERE" data-theme="light" data-size="normal" data-image="image")
									script(src="https://www.google.com/recaptcha/api.js" async defer)
								.d-flex.mt-24  
									label 
										input.checkbox(type="checkbox" required)
										span.check
									span.fs-16.c-gray 
										|Я согласен на обработку 
										a.c-red(href="#") Персональных данных 
										| согласно 
										a.c-red(href="#") Политике конфиденциальности
								button.btn-red.btn__drop-form(type="submit") Отправить
							form.drop-form(data-name-form="form-3")
								label.label
									input.input-form(type="text" name="name" maxlength="32" placeholder="Имя*", required)
									span.error-message error-message
								label.label
									input.input-form(type="email" placeholder="Ваш E-mail*", required)
									span.error-message error-message
								.date
									label.label
										input.input-form.input-date(type="text" placeholder="Дата покупки*" required readonly)
										span.error-message error-message
									button.btn-date(type="button")
										+icon("calendar","btn-date_icon")
							
								label.label
									input.input-form(oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "16" placeholder="ФН чека*", required)
									span.error-message error-message
								label.label
									input.input-form(oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "10" placeholder="ФД чека*", required)
									span.error-message error-message
								label.label
									input.input-form(oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "10" placeholder="ФПД или ФП*", required)
									span.error-message error-message
								label.label
									textarea.textarea(name="" cols="30" rows="12" minlength="20" placeholder="Пожалуйста опишите детально ваш вопрос.")
								label.btn-download(for="file-download") 
									input#file-download(type="file" name="files[]" multiple="" accept="image/jpeg,image/jpg,image/png,image/gif" value="Загрузить файлы")
									span.fs-14.fw-semi Прикрепить файл (Фото чека)
									img(src="images/attach_file.svg", alt="file download")
								.captcha.mt-24
									div(class="g-recaptcha" data-sitekey="WEBSITEKEYHERE" data-theme="light" data-size="normal" data-image="image")
									script(src="https://www.google.com/recaptcha/api.js" async defer)
								.d-flex.mt-24  
									label 
										input.checkbox(type="checkbox" required)
										span.check
									span.fs-16.c-gray 
										|Я согласен на обработку 
										a.c-red(href="#") Персональных данных 
										| согласно 
										a.c-red(href="#") Политике конфиденциальности
								button.btn-red.btn__drop-form(type="submit") Отправить
							form.drop-form(data-name-form="form-4")
								label.label
									input.input-form(type="text" name="name" maxlength="32" placeholder="Имя*", required)
									span.error-message error-message
								label.label
									input.input-form(type="email" placeholder="Ваш E-mail*", required)
									span.error-message error-message
								label.label
									input.input-form(type="text" maxlength="32" placeholder="Название сервиса*", required)
									span.error-message error-message
								label.label.mt-16
									select.select2(data-placeholder="Адрес сервиса" required)
										option
										option(value="Shivaki") Shivaki
										option(value="Suzuki") Suzuki
										option(value="Braun") Braun
										option(value="Icetron") Icetron
									span.error-message error-message
								label.label 
									input.input-form(type="text" name="phone" placeholder="Номер телефона" required)
									span.error-message error-message
								label.label
									textarea.textarea(name="" cols="30" rows="12" minlength="20" placeholder="Пожалуйста опишите детально ваш вопрос.")
								.captcha.mt-24
									div(class="g-recaptcha" data-sitekey="WEBSITEKEYHERE" data-theme="light" data-size="normal" data-image="image")
									script(src="https://www.google.com/recaptcha/api.js" async defer)
								.d-flex.mt-24  
									label 
										input.checkbox(type="checkbox" required)
										span.check
									span.fs-16.c-gray 
										|Я согласен на обработку 
										a.c-red(href="#") Персональных данных 
										| согласно 
										a.c-red(href="#") Политике конфиденциальности
								button.btn-red.btn__drop-form(type="submit") Отправить
							form.drop-form(data-name-form="form-5")
								label.label
									input.input-form(type="text" name="name" maxlength="32" placeholder="Имя*", required)
									span.error-message error-message
								label.label
									input.input-form(type="email" placeholder="Ваш E-mail*", required)
									span.error-message error-message
								label.label
									textarea.textarea(name="" cols="30" rows="12" minlength="20" maxlength="500" placeholder="Пожалуйста опишите детально ваш вопрос.")
								.captcha.mt-24
									div(class="g-recaptcha" data-sitekey="WEBSITEKEYHERE" data-theme="light" data-size="normal" data-image="image")
									script(src="https://www.google.com/recaptcha/api.js" async defer)
								.d-flex.mt-24  
									label 
										input.checkbox(type="checkbox" required)
										span.check
									span.fs-16.c-gray 
										|Я согласен на обработку 
										a.c-red(href="#") Персональных данных 
										| согласно 
										a.c-red(href="#") Политике конфиденциальности
								button.btn-red.btn__drop-form(type="submit") Отправить
						.request-right
							.notification__question
								div
									a.fs-20.fw-semi.c-dark(href="#") Часто задаваемые вопросы
										+icon("question","notification__icon d-md-show")
									p.fs-16.c-gray 
										|Morbi sodales aliquam dolor, vel iaculis nisl volutpat suscipit. Nam sit amet tortor ac lectus laoreet mattis sit amet in ipsum. 
										a.c-red(href="#") Vestibulum mattis 
										|eget neque a molestie. Integer non viverra metus.
								+icon("question","notification__icon d-md-hide")
							.notification__question
								div
									p.fs-20.fw-semi Информация о ремонте и гарантии
										+icon("test","notification__icon d-md-show")
									p.fs-16.c-gray 
										|Morbi sodales aliquam dolor, vel iaculis nisl volutpat suscipit. Nam sit amet tortor ac lectus laoreet mattis sit amet in ipsum. 
										a.c-red(href="#") Vestibulum mattis 
										|eget neque a molestie. Integer non viverra metus.
								+icon("test","notification__icon d-md-hide")
					
		.popup.popup-delete
			.popup__container.popup-delete__container 
				.flex-center-between 
					h2.fs-20.fw-semi Удалить продукт 
					button.close(type="button")
				p.fs-16.c-gray.popup-margin Вы уверены что хотите удалить данный продукт из вашего аккаунта?
				.set-product
					
				.popup__btns
					button.btn-gray(type="button") Нет, вернутся
					button.btn-red.btn-delete_product(type="button") 
						|Да, удалить 
						+icon("delete","icon-delete")
		.popup.popup-convey
			.popup__container.popup-convey__container 
				.flex-center-between 
					h2.fs-20.fw-semi Передать продукт
					button.close(type="button")
				p.fs-16.c-gray.popup-margin Для передачи продукта, новый владелец должен быть зарегистрирован на данной платформе. Введите электронную почту нового владельца:
				form
					label.label
						input.input-form.m-0(type="email" placeholder="Ваш E-mail*" required)
						span.error-message error-message
					.mt-16.d-flex
						label 
							input.checkbox(type="checkbox" required)
							span.check
						p.fs-16.c-gray 
							|Я согласен на передачу товара другому лицу и всех прав покупателя 
							a.c-red(href="#") прав покупателя
					.popup__btns
						button.btn-gray(type="button") Отмена 
						button.btn-red(type="submit") Передать
block script
	script(src="js/select2.min.js")