extends layout/main-logged

block variables
	-var title = 'Профиль'

block content
	.profile
		a.logo.logo-md-mobile(href="#")
			img.logo-img(src="images/logo-shivaki.svg", alt="logo")
		.d-flex.align-items-center.back.d-none-desktop 
			a.btn-back(href="#")
			p.fs-16.c-gray.fw-bold Ваши данные
		.container
			nav 
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная /
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Аккаунт /
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Профиль
			.flex-between.d-md-hide
				ul.tabs
					li.tab-item.active
						+icon("profile","tab-item__img")
						p.fs-14.fw-semi Профиль
				a.logout(href="#")
					span.fs-14.fw-semi.c-gray Выйти
					+icon("icon-exit","logout__icon")
			.flex-between.flex-wrap
				.profile-left 
					h4.fs-20.fw-semi Данные вашего сервиса
					form
						input.input-form(type="text" value="ООО «ВидеоТехника – Сервис»" disabled)
						input.input-form(type="text" value="Абакан" disabled)
						input.input-form(type="text" value="Ул. Баумана, д.3" disabled)
						input.input-form(type="text" name="email" placeholder="E-mail" required)
						input.input-form(type="text" name="phone" placeholder="Номер телефона" value="+79506597454" required)
						button.btn-red(type="submit") Сохранить изменения
				.profile-right.d-md-hide 
					h4.fs-20.fw-semi Оповещения
						+icon("notification")
					ul.notification-list 
						li.bg-gray_2
							a(href="#")
								span.fs-16 Ваш запрос через контактную форму был отправлен. В скором времени мы свяжемся с вами
								span.fs-12.fw-semi.c-gray 3 д	
						li 
							a(href="#")
								span.fs-16 Ваш запрос через контактную форму был отправлен. В скором времени мы свяжемся с вами
								span.fs-12.fw-semi.c-gray 3 д	

