extends layout/main

block variables
	-var title = 'Вход'

block content
	.bg-gray.content-article
		a.logo.logo-md-mobile(href="#")
			img.logo-img(src="static/images/logo-shivaki.svg", alt="logo")
		.d-flex.align-items-center.back.d-none-desktop 
			button.btn-back(type="button")
			p.fs-16.c-gray.fw-bold Информация

		.container
			nav 
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная /
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Поиск
			.container-small
				article.article
					h1.fs-42.fw-bold Пример страницы контента 2
					.article-content
						.flex-wrap.article-cols
							.col-half
								h2.fs-20.fw-semi Платформа
								p.fs-16.c-gray Morbi sodales aliquam dolor, vel iaculis nisl volutpat suscipit. Nam sit amet tortor ac lectus laoreet mattis sit amet in ipsum. Vestibulum mattis eget neque a molestie. Donec et aliquam leo. Cras rutrum purus at leo sagittis, eu efficitur velit egestas. Integer non viverra metus, ut varius est. 
							.col-half
								h2.fs-20.fw-semi Гарантия
								p.fs-16.c-gray Vestibulum tristique odio ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam tristique sapien non lorem iaculis porttitor. Fusce tincidunt finibus rutrum. Sed facilisis turpis diam, id accumsan dolor scelerisque eu. Curabitur tempor sapien et felis malesuada, vitae mattis sapien interdum.

						h2.fs-20.fw-semi Быстро и удобно
						p.fs-16.c-gray Morbi sodales aliquam dolor, vel iaculis nisl volutpat suscipit. Nam sit amet tortor ac lectus laoreet mattis sit amet in ipsum. Vestibulum mattis eget neque a molestie. Donec et aliquam leo. Cras rutrum purus at leo sagittis, eu efficitur velit egestas. Integer non viverra metus, ut varius est. 
						p.fs-16.c-gray Vestibulum tristique odio ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam tristique sapien non lorem iaculis porttitor. Fusce tincidunt finibus rutrum. Sed facilisis turpis diam, id accumsan dolor scelerisque eu. Curabitur tempor sapien et felis malesuada, vitae mattis sapien interdum. 

						.block-gray
							p.fs-16 Nulla ullamcorper eu purus sed laoreet. Curabitur tempus, ligula ultricies maximus pulvinar, massa dui elementum magna, quis accumsan nulla ante nec erat. Quisque pretium a arcu sed maximus. Vivamus efficitur eleifend ullamcorper. Sed venenatis lectus quam, eget accumsan magna gravida vel.

						h2.fs-26.fw-semi Для чего
						p.fs-16.c-gray Morbi sodales aliquam dolor, vel iaculis nisl volutpat suscipit. Nam sit amet tortor ac lectus laoreet mattis sit amet in ipsum. Vestibulum mattis eget neque a molestie. Donec et aliquam leo. Cras rutrum purus at leo sagittis, eu efficitur velit egestas. Integer non viverra metus, ut varius est. 
						p.fs-16.c-gray Vestibulum tristique odio ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam tristique sapien non lorem iaculis porttitor. Fusce tincidunt finibus rutrum. Sed facilisis turpis diam, id accumsan dolor scelerisque eu. Curabitur tempor sapien et felis malesuada, vitae mattis sapien interdum.
	
						h2.fs-26.fw-semi Для кого
						p.fs-16.c-gray Phasellus maximus suscipit lacus vel gravida. Suspendisse rutrum ut neque non elementum. In eu semper purus. Pellentesque lorem nisl, faucibus sit amet mi id, tempus pulvinar felis. Vivamus consectetur efficitur posuere. Donec vitae rutrum lacus, vel volutpat massa. Curabitur sed ex vel sapien tincidunt pellentesque ac ac orci. Phasellus neque neque, lobortis ultricies pretium quis, dignissim eu metus. Suspendisse vel gravida sapien, sit amet scelerisque massa. Duis congue lacus in diam semper, a elementum nunc fermentum. Mauris ut finibus felis.