extends layout/main-account-settings

block variables
    -var title = 'Контакт'

block content
    .request
        a.logo.logo-md-mobile(href="http://m99935yr.beget.tech/egt/home.html")
            img.logo-img(src="images/logo-shivaki.svg", alt="logo")
        .d-flex.align-items-center.back.d-none-desktop
            a.btn-back(href="http://m99935yr.beget.tech/egt/home.html")
                +icon("arrow-back","btn-back__icon")
            p.fs-16.c-gray.fw-bold Отправить запрос
        .container
            nav 
                ul.breadcrumbs
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Главная /
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Контакт
            .flex-between.flex-wrap
                .request-left
                    h4.fs-20.fw-semi.d-md-hide Отправить запрос
                    .p.fs-16.c-gray Если вы столкнулись с определенными трудностями на платформе, пожалуйста выберите ниже тему обращения и опишите детально вашу проблему.
                    .select
                        .select__header
                            .select__current 
                                span Выберите тему 
                                    span.d-md-hide вашего обращения
                                button.btn-arrow(type="button")
                                    +icon("arrow-up","btn-arrow_img")
                        ul.select__body
                            //- li.select__item(data-name-form="form-1") Проблема при регистрации продукта
                            li.select__item(data-name-form="form-2") Неопознанный серийный номер
                            li.select__item(data-name-form="form-3") Неопознанный QR code или чек
                            li.select__item(data-name-form="form-4") Неопознанный сервис
                            li.select__item(data-name-form="form-5") Запрос о гарантии
                            li.select__item(data-name-form="form-5") Запрос о продукте
                            li.select__item(data-name-form="form-5") Запрос о сервисе 
                            li.select__item(data-name-form="form-5") Запрос о ремонте
                    //- form.drop-form(data-name-form="form-1")
                    //-     textarea.textarea(name="" cols="30" rows="12" minlength="20" placeholder="Пожалуйста опишите детально ваш вопрос." required)
                    //-     label.btn-download(for="file-download") 
                    //-         input#file-download(type="file" name="files[]" multiple="" value="Загрузить файлы")
                    //-         span.fs-14.fw-semi Прикрепить файл
                    //-         img(src="images/attach_file.svg", alt="file download")
                    //-     p.fs-16.c-gray 
                    //-         |Нажимая «Отправить», Вы подтверждаете, что прочитали и согласны с 
                    //-         a.c-red(href="#") Правилами пользователя 
                    //-         |и 
                    //-         a.c-red(href="#") Политикой конфиденциальности.
                    //-     button.btn-red.btn__drop-form(type="submit") Отправить
                    form.drop-form(data-name-form="form-2")
                        label.label
                            input.input-form(type="text" name="name" maxlength="32" placeholder="Имя*", required)
                            span.error-message error-message
                        label.label
                            input.input-form(type="email" placeholder="Ваш E-mail*", required)
                            span.error-message error-message
                        label.label
                            input.input-form(type="text" maxlength="12" placeholder="Ваш серийный номер*", required)
                            span.error-message error-message
                        label.label.mt-16
                            select.select2(data-placeholder="Марка/Производитель" required)
                                option
                                option(value="Shivaki") Shivaki
                                option(value="Suzuki") Suzuki
                                option(value="Braun") Braun
                                option(value="Icetron") Icetron
                            span.error-message error-message
                        label.label
                            input.input-form(type="text" maxlength="12" placeholder="Модель*", required)
                            span.error-message error-message
                        label.label
                            textarea.textarea(name="" cols="30" rows="12" minlength="20" placeholder="Пожалуйста опишите детально ваш вопрос.")
                        .captcha.mt-24
                            div(class="g-recaptcha" data-sitekey="WEBSITEKEYHERE" data-theme="light" data-size="normal" data-image="image")
                            script(src="https://www.google.com/recaptcha/api.js" async defer)
                        .d-flex.mt-24  
                            label 
                                input.checkbox(type="checkbox" required)
                                span.check
                            p.fs-16.c-gray 
                                |Я согласен на обработку 
                                a.c-red(href="#") Персональных данных 
                                | согласно 
                                a.c-red(href="#") Политике конфиденциальности
                        button.btn-red.btn__drop-form(type="submit") Отправить
                    form.drop-form(data-name-form="form-3")
                        label.label
                            input.input-form(type="text" name="name" maxlength="32" placeholder="Имя*", required)
                            span.error-message error-message
                        label.label
                            input.input-form(type="email" placeholder="Ваш E-mail*", required)
                            span.error-message error-message
                        .date
                            label.label
                                input.input-form.input-date(type="text"  placeholder="Дата покупки*" required readonly)
                                span.error-message error-message
                            button.btn-date(type="button")
                                +icon("calendar","btn-date_icon")
                    
                        label.label
                            input.input-form(oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "16" placeholder="ФН чека*", required)
                            span.error-message error-message
                        label.label
                            input.input-form(oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "10" placeholder="ФД чека*", required)
                            span.error-message error-message
                        label.label
                            input.input-form(oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "10" placeholder="ФПД или ФП*", required)
                            span.error-message error-message
                        label.label
                            textarea.textarea(name="" cols="30" rows="12" minlength="20" placeholder="Пожалуйста опишите детально ваш вопрос.")
                        label.btn-download(for="file-download") 
                            input#file-download(type="file" name="files[]" multiple="" value="Загрузить файлы")
                            span.fs-14.fw-semi Прикрепить файл (фото чека)
                            img(src="images/attach_file.svg", alt="file download")
                        .captcha.mt-24
                            div(class="g-recaptcha" data-sitekey="WEBSITEKEYHERE" data-theme="light" data-size="normal" data-image="image")
                            script(src="https://www.google.com/recaptcha/api.js" async defer)
                        .d-flex.mt-24  
                            label 
                                input.checkbox(type="checkbox" required)
                                span.check
                            span.fs-16.c-gray 
                                |Я согласен на обработку 
                                a.c-red(href="#") Персональных данных 
                                | согласно 
                                a.c-red(href="#") Политике конфиденциальности
                        button.btn-red.btn__drop-form(type="submit") Отправить
                    form.drop-form(data-name-form="form-4")
                        label.label
                            input.input-form(type="text" name="name" maxlength="32" placeholder="Имя*", required)
                            span.error-message error-message
                        label.label
                            input.input-form(type="email" placeholder="Ваш E-mail*", required)
                            span.error-message error-message
                        label.label
                            input.input-form(type="text" maxlength="32" placeholder="Название сервиса*", required)
                            span.error-message error-message
                        label.label.mt-16
                            select.select2(data-placeholder="Адрес сервиса" required)
                                option
                                option(value="Shivaki") Shivaki
                                option(value="Suzuki") Suzuki
                                option(value="Braun") Braun
                                option(value="Icetron") Icetron
                            span.error-message error-message
                        label.label 
                            input.input-form(type="text" name="phone" placeholder="Номер телефона" required)
                            span.error-message error-message
                        label.label
                            textarea.textarea(name="" cols="30" rows="12" minlength="20" placeholder="Пожалуйста опишите детально ваш вопрос.")
                        .captcha.mt-24
                            div(class="g-recaptcha" data-sitekey="WEBSITEKEYHERE" data-theme="light" data-size="normal" data-image="image")
                            script(src="https://www.google.com/recaptcha/api.js" async defer)
                        .d-flex.mt-24  
                            label 
                                input.checkbox(type="checkbox" required)
                                span.check
                            span.fs-16.c-gray 
                                |Я согласен на обработку 
                                a.c-red(href="#") Персональных данных 
                                | согласно 
                                a.c-red(href="#") Политике конфиденциальности
                        button.btn-red.btn__drop-form(type="submit") Отправить
                    form.drop-form(data-name-form="form-5")
                        label.label
                            input.input-form(type="text" name="name" maxlength="32" placeholder="Имя*", required)
                            span.error-message error-message
                        label.label
                            input.input-form(type="email" placeholder="Ваш E-mail*", required)
                            span.error-message error-message
                        label.label
                            textarea.textarea(name="" cols="30" rows="12" minlength="20" maxlength="500" placeholder="Пожалуйста опишите детально ваш вопрос.")
                        .captcha.mt-24
                            div(class="g-recaptcha" data-sitekey="WEBSITEKEYHERE" data-theme="light" data-size="normal" data-image="image")
                            script(src="https://www.google.com/recaptcha/api.js" async defer)
                        .d-flex.mt-24  
                            label 
                                input.checkbox(type="checkbox" required)
                                span.check
                            span.fs-16.c-gray 
                                |Я согласен на обработку 
                                a.c-red(href="#") Персональных данных 
                                | согласно 
                                a.c-red(href="#") Политике конфиденциальности
                        button.btn-red.btn__drop-form(type="submit") Отправить
                .request-right
                    .notification__question
                        div
                            a.fs-20.fw-semi.c-dark(href="#") Часто задаваемые вопросы
                                +icon("question","notification__icon d-md-show")
                            p.fs-16.c-gray 
                                |Morbi sodales aliquam dolor, vel iaculis nisl volutpat suscipit. Nam sit amet tortor ac lectus laoreet mattis sit amet in ipsum. 
                                a.c-red(href="#") Vestibulum mattis 
                                |eget neque a molestie. Integer non viverra metus.
                        +icon("question","notification__icon d-md-hide")
                    .notification__question
                        div
                            p.fs-20.fw-semi Информация о ремонте и гарантии
                                +icon("test","notification__icon d-md-show")
                            p.fs-16.c-gray 
                                |Morbi sodales aliquam dolor, vel iaculis nisl volutpat suscipit. Nam sit amet tortor ac lectus laoreet mattis sit amet in ipsum. 
                                a.c-red(href="#") Vestibulum mattis 
                                |eget neque a molestie. Integer non viverra metus.
                        +icon("test","notification__icon d-md-hide")
block script
    script(src="js/select2.min.js")
