extends layout/main

block variables
	-var title = 'Главная страница'

block content
	section.home
		.home-bg
		a.logo(href="#")
			img.logo-img(src="static/images/logo-shivaki.svg", alt="logo")
		h1.c-white.fw-bold Гарантийная платформа
		h4.c-white.text-center.fw-semi Выберите пожалуйста тип вашего профиля <br/> для перехода к нужным функциям
		.flex-wrap.justify-content-center.home__type
			a.box-red(href="#") 
				p.fs-26.c-white.fw-semi Сервисный центр
				img.icon-service(src="static/images/icon-service.svg", alt="icon service")
			a.box-red(href="#") 
				p.fs-26.c-white.fw-semi Клиент
				img.icon-service(src="static/images/user.svg", alt="icon user")
		h4.fw-semi.c-dark Наша платформа это
		.flex-wrap.justify-content-center
			a.box-gray(href="#")
				img.icon-service(src="static/images/test.svg", alt="icon test")
				p.fs-16.c-white.text-center  
					|Электронная гарантия 
					|без бумаг на будущее
			a.box-gray(href="#")
				img.icon-service(src="static/images/magnifier.svg", alt="icon magnifier")
				p.fs-16.c-white.text-center 
					|Вся информация по 
					|продукту в одном месте
			a.box-gray(href="#")
				img.icon-service(src="static/images/speaker.svg", alt="icon speaker")
				p.fs-16.c-white.text-center  
					|Дополнительные 
					|функции и обновления
