extends layout/main-logged

block variables
	-var title = 'Главная страница'


block content
	section.home
		.home-bg
		a.logo(href="#")
			img.logo-img(src="images/logo-shivaki.svg" alt="logo")
		h1.c-white.fw-bold Гарантийная платформа
		h4.c-white.text-center.fw-semi Добро Пожаловать обратно, начните поиск
		form.search
			input.search-input(type="text" placeholder="Серийный номер продукта" required)
			button.btn-search(type="submit") 
				span Поиск
				+icon("icon-magnifier","btn-search_icon")
		h4.fw-semi.c-dark.text-center Наша платформа это
		.flex-wrap.justify-content-center
			a.box-gray(href="#")
				+icon("test","icon-service")
				p.fs-16.c-white.text-center  
					|Электронная гарантия 
					|без бумаг на будущее
			a.box-gray(href="#")
				+icon("magnifier","icon-service")
				p.fs-16.c-white.text-center 
					|Вся информация по 
					|продукту в одном месте
			a.box-gray(href="#")
				+icon("speaker","icon-service")
				p.fs-16.c-white.text-center  
					|Дополнительные 
					|функции и обновления

