extends layout/main-logged

block variables
	-var title = 'Главная страница'


block content
	section.home
		.home-bg
		a.logo(href="#")
			img.logo-img(src="static/images/logo-shivaki.svg", alt="logo")
		h1.c-white.fw-bold Гарантийная платформа
		h4.c-white.text-center.fw-semi Добро Пожаловать обратно, начните поиск
		form.search
			input.search-input(type="text", placeholder="Серийный номер продукта", value="C02VF0Y1HGE8", required)
			button.btn-search(type="submit") 
				span Поиск
				img.btn-search_icon(src="static/images/icon-magnifier.svg", alt="magnifier")
		h4.fw-semi.c-dark.text-center Наша платформа это
		.flex-wrap.justify-content-center
			a.box-gray(href="#")
				img.icon-service(src="static/images/test.svg", alt="icon test")
				p.fs-16.c-white.text-center  
					|Электронная гарантия 
					|без бумаг на будущее
			a.box-gray(href="#")
				img.icon-service(src="static/images/magnifier.svg", alt="icon magnifier")
				p.fs-16.c-white.text-center 
					|Вся информация по 
					|продукту в одном месте
			a.box-gray(href="#")
				img.icon-service(src="static/images/speaker.svg", alt="icon speaker")
				p.fs-16.c-white.text-center  
					|Дополнительные 
					|функции и обновления

