extends layout/main-sign-in

block variables
	-var title = 'Вход'


block content
	.bg-content.d-lg-hide 
	.container.justify-content-end.align-items-center.container__sign_in-up 
		div.d-lg-hide.fixed__align-center 
			a.logo.mb-3(href="#")
				img.logo-img(src="images/logo-shivaki.svg", alt="logo")
			p.c-white.fs-20.fw-semi Гарантийная платформа
		.form
			.form-sing_in-up
				a.logo.mb-3.logo-mobile(href="#")
					img.logo-img(src="images/logo-shivaki.svg", alt="logo")
				.flex-between.form-head
					a.btn-back(href="#")
						+icon("arrow-back","btn-back__icon")
					ul.d-flex 
						li.tab.active Вход
						li.tab Регистрация
					button.close
				div 
					form.form-item.active 
						.form-content
							label.label
								input.input-form(type="email" placeholder="Ваш E-mail*", required)
								span.error-message error-message
							label.label
								input.input-form(type="password" placeholder="Пароль*" required)
								span.error-message error-message
							button.btn-red(type="submit") Войти
							a.link.link-forgot(href="#") Забыли пароль?
							p.fs-16.c-gray.text-center Быстрый доступ через соц-сети
							.flex-wrap.justify-content-center
								a.messenger(href="#")
									img.messenger-icon(src="images/login-users/google.svg", alt="google")
								a.messenger(href="#")
									img.messenger-icon(src="images/login-users/facebook.svg", alt="facebook")
								a.messenger(href="#")
									img.messenger-icon(src="images/login-users/vk.svg", alt="vk")
								a.messenger(href="#")
									img.messenger-icon(src="images/login-users/apple.svg", alt="apple")
								a.messenger(href="#")
									img.messenger-icon(src="images/login-users/odnoklassniki.svg", alt="odnoklassniki")
						button.form-bottom.btn__next-services(type="button")
							span.fs-20.fw-semi.c-dark.text-center Вход для сервисных центров
					form.form-item 
						.form-content
							label.label.error
								input.input-form(type="email" placeholder="Ваш E-mail*" required)
								span.error-message error-message
							label.label
								input.input-form(type="password" placeholder="Пароль*" required)
								span.error-message error-message
							.flex-wrap 
								label.label.input-form_half
									input.input-form(type="text" name="name" placeholder="Имя*" required)
									span.error-message error-message
								label.label.input-form_half
									input.input-form(type="text" name="name" placeholder="Фамилия*" required)
									span.error-message error-message
							.date
								label.label
									input.input-form.input-date(type="text" placeholder="Дата рождения*" required readonly)
									span.error-message error-message
								button.btn-date(type="button")
									+icon("calendar","btn-date_icon")

							.select
								.select__header
									.select__current 
										span Город проживания*
										button.btn-arrow(type="button")
											+icon("arrow-up","btn-arrow_img")
								ul.select__body
									li.select__item Город 1
									li.select__item Город 2
									li.select__item Город 3
									li.select__item Город 4
									li.select__item Город 5
									li.select__item Город 6 
									li.select__item Город
									li.select__item Город
									li.select__item Город 
							input.input-form(type="text" name="phone" placeholder="Номер телефона" required)
							p.fs-16.c-gray.form-text 
								|Нажимая «Создать учетную запись», вы подтверждаете, что прочитали и 
								span.nowrap согласны с 
									a.link.c-red(href="#") Правилами пользователя 
								|и 
								a.link.c-red.nowrap(href="#") Политикой конфиденциальности.
							button.btn-red.btn-sign-up(type="submit") Создать учётную запись
			.form-forgot
				a.logo.mb-3.logo-mobile(href="#")
					img.logo-img(src="images/logo-shivaki.svg", alt="logo")
				.flex-between.form-head
					.d-flex
						a.btn-back.back-form(href="#")
							+icon("arrow-back","btn-back__icon")
						h4.fs-20.fw-semi Смена пароля
					button.close.back-form
				form.form-content
					p.fs-16.c-gray Введите ваш E-mail для смены пороля
					label.label.mt-16
						input.input-form(type="email" placeholder="Ваш E-mail*", required)
						span.error-message error-message
					button.btn-red(type="submit") Отправить
			.form-contract
				a.logo.mb-3.logo-mobile(href="#")
					img.logo-img(src="images/logo-shivaki.svg", alt="logo")
				.flex-between.form-head
					.d-flex
						a.btn-back(href="#")
							+icon("arrow-back","btn-back__icon")
						h4.tab.active Вход
					.d-flex
						button.btn-next(type="button") Пропустить
						button.close#close__forgot.back-form(type="button")
				form.form-content
					.select
						.select__header
							.select__current 
								span Компания сервисного центра*
								button.btn-arrow(type="button")
									+icon("arrow-up","btn-arrow_img")
						ul.select__body
							li.select__item Компания 1
							li.select__item Компания 2
							li.select__item Компания 3
							li.select__item Компания 4
							li.select__item Компания 5
							li.select__item Компания 6 
					label.label
						input.input-form(type="number" placeholder="Номер контракта*", required)
						span.error-message error-message
					button.btn-red(type="submit") Войти
					a.link.c-red.link-forgot_contract(href="#") Незнаете номер контракта?
					p.fs-16.c-gray Войдите в аккаунт своей компании, чтобы получить доступ к 
						a.link.c-red(href="#") информации для специалистов.
				button.form-bottom.back-form(type="button")
					span.fs-20.fw-semi.c-dark.text-center Вход для пользователей
