extends layout/main-account-settings

block variables
	-var title = 'Профиль'

block content
	.profile
		a.logo.logo-md-mobile(href="http://m99935yr.beget.tech/egt/home.html")
			img.logo-img(src="images/logo-shivaki.svg", alt="logo")
		.d-flex.align-items-center.back.d-none-desktop 
			a.btn-back.btn-back__settings(href="http://m99935yr.beget.tech/egt/home.html")
				+icon("arrow-back","btn-back__icon")
			p.fs-16.c-gray.fw-bold.text-change Настройки
		.container
			ul.d-md-show.tabs-mob
				li.settings-tab(data-settings-tab="settings-data") Ваши данные
					img(src="images/icon_4.svg", alt="icon") 	
				li.settings-tab(data-settings-tab="settings-share") Рассылка
					img(src="images/icon_3.svg", alt="icon") 	
			.flex-between.mobile-settings__drops
				.profile-left_v2.profile__data(data-settings-dropdown="settings-data")
					h4.fs-20.fw-semi.d-md-hide Ваши данные
					form
						label.label
							input.input-form(type="email" placeholder="Ваш E-mail*" value="user@google.com" required)
							span.error-message error-message
						.flex-wrap 
							label.label.input-form_half
								input.input-form(type="text" placeholder="Имя*" name="name" value="Алексей" required)
								span.error-message error-message
							label.label.input-form_half
								input.input-form(type="text" placeholder="Фамилия*" name="name" value="Фамильный" required)
								span.error-message error-message
						.date
							label.label
								input.input-form.input-date(type="text" placeholder="Дата рождения*" value="12.03.1978" required readonly)
								span.error-message error-message
							button.btn-date(type="button")
								+icon("calendar","btn-date_icon")
						label.label.mt-16
							select.select2(data-placeholder="Город проживания*" required)
								option
								option(value="Москва" selected) Москва
								option(value="Город 2") Город 2
								option(value="Город 3") Город 3
							span.error-message error-message
						input.input-form(type="text" placeholder="Номер телефона" name="phone" value="8-800-123-45-67")
						button.btn-red.btn-save-settings(type="submit") Сохранить изменения
				.profile-right_v2.profile__share(data-settings-dropdown="settings-share")
					h4.fs-20.fw-semi.d-md-hide Разрешение на рассылку
					.d-flex 
						label 
							input.checkbox(type="checkbox")
							span.switch
						p.fs-16.c-gray.switch__text Morbi sodales aliquam dolor, vel iaculis nisl volutpat suscipit. Nam sit amet tortor ac lectus laoreet mattis sit amet in ipsum. Vestibulum mattis eget neque a molestie.
block script
	script(src="js/select2.min.js")