extends layout/not-mobile-header

block variables
	-var title = 'Ваш продукт'

block content
	.content-product
		a.logo.logo-md-mobile(href="#")
			img.logo-img(src="images/logo-shivaki.svg", alt="logo")
		.d-flex.align-items-center.back.d-none-desktop 
			a.btn-back(href="#")
				+icon("arrow-back","btn-back__icon")
			p.fs-16.c-gray.fw-bold Ваш продукт
		.container
			.container-product
				nav 
					ul.breadcrumbs
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная /
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Поиск /
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Продукт
				.product
					.product-left
						img.product-img(src="images/product.jpg", alt="image product")
					.product-right
						div
							p.fs-16.c-gray.product-name Смарт телевизор
							h1.fs-42.fw-bold SHIVAKI D24TV4K
							h3.fs-20.fw-semi.c-gray C02VF0Y1HGE8

							.system-message.system__green
								p.fs-12.fw-semi Гарантия до 24.07.2022
							
							//- .system-message.system__orange
							//- 	p.fs-12.fw-semi Продукт ещё не зарегистрирован ни одним пользовaателем. Если вы владелец данного продукта, то зарегистрируйте его в свой личный аккаунт. 
							.product-text.d-md-hide
								p.fs-16.c-gray Morbi sodales aliquam dolor, vel iaculis nisl volutpat suscipit. Nam sit amet tortor ac lectus laoreet mattis sit amet in ipsum. Vestibulum mattis eget neque a molestie. Donec et aliquam leo. Cras rutrum purus at leo sagittis, eu efficitur velit egestas. Integer non viverra metus, ut varius est. 
					.product-text.d-md-show
						p.fs-16.c-gray Morbi sodales aliquam dolor, vel iaculis nisl volutpat suscipit. Nam sit amet tortor ac lectus laoreet mattis sit amet in ipsum. Vestibulum mattis eget neque a molestie. Donec et aliquam leo. Cras rutrum purus at leo sagittis, eu efficitur velit egestas. Integer non viverra metus, ut varius est. 
						
				ul.accordions
					li.accordion
						.flex-center-between.accordion-item
							p.fs-20.fw-semi Документация
							.plus 
						ul.accordion-drop
							li
								.download.flex-center-between(href="" download)
									span.fs-14.fw-semi.c-dark Руководство пользователя
									span.d-flex.align-items-center 
										span.fs-14.fw-semi.c-gray 19 kb 
										img(src="images/download.svg", alt="download icon")
							li
								a.download.flex-center-between(href="#" download)
									span.fs-14.fw-semi.c-dark Дополнительные возможности
									span.d-flex.align-items-center 
										span.fs-14.fw-semi.c-gray 19 kb 
										img(src="images/download.svg", alt="download icon")
							li
								a.download.flex-center-between(href="#" download)
									span.fs-14.fw-semi.c-dark Установочник дополнительного ПО
									span.d-flex.align-items-center 
										span.fs-14.fw-semi.c-gray 19 kb 
										img(src="images/download.svg", alt="download icon")
					li.accordion
						.flex-center-between.accordion-item
							p.fs-20.fw-semi Документация для сервиса
							.plus 
						ul.accordion-drop
							li
								.download.flex-center-between(href="" download)
									span.fs-14.fw-semi.c-dark Доступы к системе
									span.d-flex.align-items-center 
										span.fs-14.fw-semi.c-gray 19 kb 
										img(src="images/download.svg", alt="download icon")
							li
								a.download.flex-center-between(href="#" download)
									span.fs-14.fw-semi.c-dark Инструкции по прошивке
									span.d-flex.align-items-center 
										span.fs-14.fw-semi.c-gray 19 kb 
										img(src="images/download.svg", alt="download icon")
					li.accordion
						.flex-center-between.accordion-item
							p.fs-20.fw-semi Гарантия
							.plus 
						ul.accordion-drop.pt-2
							li.fs-16.c-gray На данный продукт действует стандартная гарантия в 3 года от производителя.
	.d-md-show
		.transfer-product
			button.btn-transfer-product(type="button") 
				span.fs-14.fw-semi Передать продукт 
				img(src="images/account-24px.svg", alt="icon")
			button.btn-delete__transfer(type="button")
				+icon("delete")
		