extends layout/main-logged

block variables
    -var title = 'Вопросы'

block content
    a.logo.logo-md-mobile(href="#")
        img.logo-img(src="images/logo-shivaki.svg", alt="logo")
    .d-flex.align-items-center.back.d-none-desktop 
        a.btn-back(href="#")
            +icon("arrow-back","btn-back__icon")
        p.fs-16.c-gray.fw-bold Часто задаваемые вопросы

    .container.questions
        nav 
            ul.breadcrumbs
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная /
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Вопросы 
        .container-small
            h1.fs-42.fw-bold.d-md-hide Часто задаваемые вопросы
            ul.accordions
                li.accordion
                    .flex-center-between.accordion-item.smooth-600
                        p.fs-20.fw-semi Владельцы
                        .plus 
                    ul.accordion-drop
                        li.fs-16.fw-semi.type-decimal.mt-16
                            p.fw-semi Что делать, если серийный номер не принимается?
                            p.c-gray.fw-normal a. Пожалуйста проверьте марку вашего продукта и сравните с брендом в левом верхнем углу. Что бы поменять его, просто нажмите на него.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Могу ли я добавить разные бренды в свой аккаунт?
                            p.fw-normal.c-gray a. К сожалению, вам нужен аккаунт для каждой марки, где будут находиться ваши продукты одного бренда.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Я добавил продукт в свой аккаунт, но не могу посмотреть документацию или детали гарантии. Что делать?
                            p.fw-normal.c-gray a.	Пожалуйста, проверьте свою электронную почту и подтвердите свой аккаунт для нашей платформы, после чего перезайдите в свой аккакунт и все возможности станут доступными.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Мой QR код не считывается, что делать?
                            p.fw-normal.c-gray a.	В таком случае, нажмите на «Ввести данные с чека вручную» и вам нужно будет заполнить некоторые данные с чека.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Проверка чека не прошла успешно, через QR код и ввода вручную. Что делать?
                            p.fw-normal.c-gray a.	Если вы приобрели продукт сегодня, то пожалуйста попробуйте снова через 24 часа после времени покупки, так как это срок обработки новых данных.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Есть ли инструкция по пользованию?
                            p.fw-normal.c-gray a.	Как только вы зарегистрируетесь, то сможете увидеть всю документацию избранного продукта.
                        li.fs-16.fw-semi.type-decimal.mt-24
                            p.fw-semi Где я могу детали гарантии моего продукта?
                            p.fw-normal.c-gray a.	Вы можете использовать серийный номер для поиска или зайти в свой аккаунт, если вы уже его добавили.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi С какого момента начинается гарантия?
                            p.fw-normal.c-gray a.	При регистрации, мы попросим вас подтвердить приобретение товара, отсканировав QR code или ввода данных чека вручную
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Я хочу приобрести дополнительную гарантию, что делать?
                            p.fw-normal.c-gray a.	Все возможные варианты дополнительной гарантии будут отображаться в ваших оповещаниях или присланы на вашу электронную почту. Инструкцию сможете найти в одном из перечисленного.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi У меня истекла гарантия, что делать?
                            p.fw-normal.c-gray a.	Если ваш бренд не предаставляет дополнительную гарантию, которую вы можете приобрести через компанию, то просто удалите продукт из вашего профиля.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Я решил продать свой продукт, что делать с гарантией?
                            p.fw-normal.c-gray a.	В вашем профиле, вы сможете найти кнопку «Передать продукт», который передаст гарантию продукта новому зарегестрированому владельцу.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Моему продукту нужен ремонт, куда я могу обратиться?
                            p.fw-normal.c-gray a.	В своём аккаунте вы смодете выбрать опцию «Карта сервисов», карта будет уже загружена по месту положения указанному при вашей регистрации и так же вы сможете ввести адрес вручную. На каждом маркере, вы найдёте адрес и номер ближайшего сериса.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Какую информацию могут спросить при звонке в сервис?
                            p.fw-normal.c-gray a.	У вас точно спросят серийный номер для подтверждения гарантии, после чего краткое описание проблемы своими словами.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Где я могу поменять детали своего профиля?
                            p.fw-normal.c-gray a.	В вашем аккаунте есть опция «Настройки», вы сможете поменять ваши детали или удалить свой аккаунт, если вы больше не намерены пользоваться нашей платформы.
                            p.fw-normal.c-gray.pt-2 b.	Так же, если вы не желаете больше участвовать в рассылке о вашем продукте или гарантии, вы сможете её отменить.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi У меня ещё остались вопросы, что делать?
                            p.fw-normal.c-gray a.	Воспользуйтесь одной из наших форм для обращения по ссылке ниже, спасибo.
                                a.c-red.d-flex(href="#") www.product-reg.eu/contact

                li.accordion
                    .flex-center-between.accordion-item.smooth-600
                        p.fs-20.fw-semi Сервис
                        .plus 
                    ul.accordion-drop
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Что делать, если серийный номер не принимается?
                            p.c-gray.fw-normal a.	Пожалуйста проверьте марку вашего продукта и сравните с брендом в левом верхнем углу. Что бы поменять его, просто нажмите на него.
                        li.fs-16.fw-semi.type-decimal.mt-24  
                            p.fw-semi Я не знаю номер контракта компании, что делать?
                            p.c-gray.fw-normal a.	Если вы желаете узнать только статус гарантии товара, нажмите кнопку «Пропустить» и вы перейдёте далее к запросу о статусе гарантии.
                            p.c-gray.fw-normal.pt-2 b.	Если вы захотите использовать дополнительные опции для сервисов ва нужен номер контракта компании.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Ошибка при вводе имени сервиса, что делать?
                            p.c-gray.fw-normal a.	Проверьте название сервиса на наличие орфографических ошибок.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi Где я могу найти номер контракта?
                            p.c-gray.fw-normal a.	Пожалуйста спросите у вашего прямого начальника.
                        li.fs-16.fw-semi.type-decimal.mt-24 
                            p.fw-semi 5.	Мне нужно больше деталей о продукте, где их найти?
                            p.c-gray.fw-normal a.	К сожалению, всё что производчик предоставил уже находиться в деталях продукта.