extends layout/main

block variables
	-var title = 'Поиск продукта'

block content
	.bg-gray__search
		a.logo.logo-md-mobile(href="#")
			img.logo-img(src="images/logo-shivaki.svg", alt="logo")
		.d-flex.align-items-center.back.d-none-desktop 
			a.btn-back(href="#")
				+icon("arrow-back","btn-back__icon")
			p.fs-16.c-gray.fw-bold Поиск продукта
		.container
			nav 
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Главная /
					li.breadcrumbs__item
						a.breadcrumbs__link(href="#") Поиск
			section.section-search
				.section-search__half
					h2.fs-32.c-dark.fw-semi.d-md-hide Поиск продукта
					form.search
						input.search-input(type="text", placeholder="Серийный номер продукта" required)
						button.btn-search(type="submit") 
							span Поиск
							img.btn-search_icon(src="images/icon-magnifier.svg", alt="magnifier")
					.result 
						p.fs-16.c-gray.fw-medium Результаты поиска:
						ul 
							li.result-item 	
								a.result-link(href="#")
									img.result-img(src="images/img-result.jpg", alt="image result") 
									.result-info 
										p.fs-16.c-gray Смарт телевизор
										p.fs-26.fw-semi.c-dark SHIVAKI D24TV4K
										.flex-wrap
											p.fs-20.fw-semi.c-gray C02VF0Y1HGE8
											.notregistered Не зарегистрирован
								.notregistered.notregistered-mobile Не зарегистрирован
				.section-search__half
					a.notification__question.bg-gradient(href="#")
						div
							span.notification__block Рекомендуется
							p.fs-20.fw-semi.c-white На телефоне еще быстрее!
								img.notification__icon.d-md-show(src="images/icon_2.svg", alt="question")
							p.fs-16 Сканируйте QR code чека на телефоне </br> для быстрой регистрации продукта.
						img.notification__icon.d-md-hide(src="images/icon_2.svg", type="icon")
					a.notification__question(href="#")
						div
							p.fs-20.fw-semi.c-dark Нашли свой приобретенный продукт?
								+icon("icon_1","notification__icon d-md-show")
							p.fs-16.c-gray Зарегистрируйте его в свой личный аккаунт и отслеживайте гарантию своего продукта, а также пользуйтесь дополнительными функциями в вашем личном аккаунте.
						+icon("icon_1","notification__icon d-md-hide")


