footer.footer 
    .container
        .d-flex
            p.fs-16.c-gray © SHIVAKI 2020 
            a.fs-16.c-gray(href="#") Политика конфиденциальности
            a.fs-16.c-gray(href="#") Правила использования
            a.fs-16.c-gray(href="#") Контакт